# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*
.env.example
venv/
env/
.venv/
virtualenv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Build artifacts
build/
dist/
*.egg-info/