# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Django
*.log
#db.sqlite3
media/

# staticfiles/     ← REMOVE THIS LINE

# Environment
.env
.env.*
venv/
env/
.venv/
virtualenv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Build artifacts
build/
dist/
*.egg-info/