Package                       Version
----------------------------- -----------
apyori                        1.1.2
asgiref                       3.2.10
astroid                       2.15.6
beautifulsoup4                4.12.3
blinker                       1.7.0
boto3                         1.28.53
botocore                      1.31.53
bs4                           0.0.2
cachetools                    5.3.1
cement                        3.0.8
certifi                       2023.7.22
cffi                          1.15.1
chardet                       5.2.0
charset-normalizer            3.2.0
click                         8.1.7
colorama                      0.4.6
contourpy                     1.1.1
crypto                        1.4.1
cryptography                  41.0.4
cycler                        0.11.0
defusedxml                    0.7.1
distlib                       0.3.7
dj-database-url               2.1.0
Django                        3.1.1
django-allauth                0.56.1
django-autoslug               1.9.9
django-ckeditor               6.7.0
django-cleanup                8.0.0
django-countries              7.5.1
django-crispy-forms           2.0
django-debug-toolbar          4.2.0
django-filter                 23.3
django-heroku                 0.3.1
django-js-asset               2.1.0
django-pwa                    1.1.0
django-quickauth              0.2
django-rest-auth              0.9.5
django-rest-knox              4.2.0
django-storages               1.14
django-taggit                 4.0.0
django-templated-mail         1.1.1
django-user-visit             1.1
djangorestframework           3.14.0
djangorestframework-simplejwt 5.2.2
djongo                        1.3.6
djoser                        2.2.2
dnspython                     2.4.2
docutils                      0.20.1
filelock                      3.12.3
Flask                         3.0.2
fonttools                     4.42.1
freegames                     2.5.3
future                        0.18.3
google-api-core               2.11.1
google-auth                   2.23.0
google-cloud-core             2.3.3
google-crc32c                 1.5.0
google-resumable-media        2.6.0
googleapis-common-protos      1.60.0
gTTS                          2.3.2
gTTS-token                    1.1.4
gunicorn                      20.0.4
httplib2                      0.22.0
idna                          3.4
isort                         5.12.0
itsdangerous                  2.1.2
Jinja2                        3.1.3
jmespath                      1.0.1
joblib                        1.3.2
kiwisolver                    1.4.5
lazy-object-proxy             1.9.0
MarkupSafe                    2.1.5
matplotlib                    3.8.0
mccabe                        0.7.0
mlxtend                       0.23.1
Naked                         0.1.32
nltk                          3.8.1
numpy                         1.25.2
oauth2                        1.9.0.post1
oauthlib                      3.2.2
opencv-python                 4.9.0.80
packaging                     23.1
pandas                        2.2.2
pathspec                      0.11.2
patsy                         0.5.6
paytmchecksum                 1.7.0
Pillow                        10.0.1
pip                           24.0
platformdirs                  3.10.0
protobuf                      4.24.3
psycopg2                      2.9.7
pyasn1                        0.5.0
pyasn1-modules                0.3.0
pycparser                     2.21
pycryptodome                  3.19.0
pycryptodomex                 3.19.0
pydot                         1.4.2
pygame                        2.5.2
PyJWT                         2.8.0
pymongo                       4.4.1
pyparsing                     3.1.1
python-dateutil               2.8.2
python-dotenv                 1.0.1
python3-openid                3.2.0
pytz                          2020.1
pyUML                         0.1.0a0
PyYAML                        6.0.1
regex                         2023.12.25
requests                      2.31.0
requests-oauthlib             1.3.1
rsa                           4.9
s3transfer                    0.6.2
scikit-learn                  1.3.0
scipy                         1.11.2
seaborn                       0.13.2
semantic-version              2.10.0
shellescape                   3.8.1
six                           1.16.0
social-auth-app-django        5.1.0
social-auth-core              4.4.2
soupsieve                     2.5
sqlparse                      0.3.1
statsmodels                   0.14.1
termcolor                     2.3.0
threadpoolctl                 3.2.0
toml                          0.10.2
tqdm                          4.66.1
typed-ast                     1.5.5
typing_extensions             4.8.0
tzdata                        2023.3
ua-parser                     0.18.0
urllib3                       1.26.16
user-agents                   2.2.0
wcwidth                       0.2.6
Werkzeug                      3.0.1
whitenoise                    5.2.0
wrapt                         1.15.0