{% load static %}

<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img style="height: 55px;" src="{% static 'HealthStack-System/images/Normal/footer_logo1.png' %}" alt="logo" />
            </div>
            <div class="footer-about-content">
              <p>Boasting advanced capabilities, MediCare excels in tracking, monitoring, and securely sharing your health records across all affiliated hospitals. This ensures a seamless and unified healthcare experience for you. Explore detailed information about various hospitals and healthcare providers, and effortlessly schedule appointments online to prioritize your health and well-being.</p><br/>
              <div class="social-icon">
                <ul>
                  <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>
        <div class="col-lg-3 col-md-6"></div>
        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contact Us</h2>
            <div class="footer-contact-info">
              <p><i class="fas fa-map-marker-alt"></i> Mumbai City</p>
              <p><i class="fas fa-phone-alt"></i>+91 12345-67890</p>
              <p class="mb-0"><i class="fas fa-envelope"></i>MediCare@gmail.com</p>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->

  <!-- /Footer Bottom -->
</footer>
